* {
    font-family: Verdana;
}

.header {
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.banner {
    background: url(./img/banner.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
    padding: 50px;
}

a {
    color: white;
    text-decoration: none;
}

.banner-text {
    font-weight: bold;
    text-transform: uppercase;
}

.menu {
    display: flex;
}

.menu-link {
    margin-left: 10px;
}

.header-logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 50px;
    height: 50px;
}

ul {
    list-style-type: none;
}

body {
    margin: 0;
}

.products-cards {
    display: flex;
    justify-content: center;
}

.card {
    padding: 15px;
    text-align: center;
    border-radius: 15px;
    margin-left: 15px;
    margin-right: 15px;
    transition: all 500ms linear;
}

.card:hover {
    box-shadow: 0px 10px 20px rgba(42, 42, 173, 0.3);
}

.card img {
    width: 200px;
}

.card a {
    padding: 10px;
    background: linear-gradient(to left, rgb(47, 47, 179), rgb(223, 155, 240));
    background: rgb(223, 155, 240);
    border-radius: 10px;
    margin-top: 10px;
    display: block;
    transition: background 500ms linear;
}

.card a:hover {
    background: rgb(47, 47, 179);
}

.footer {
    background-image: url(https://sun9-38.userapi.com/c857536/v857536180/82ddf/kEgMj3EHTCA.jpg);
    margin-top: 50px;
    padding: 100px;
    color: white;
    background-size: cover;
}

@media screen and (max-width: 650px) {
    .header-menu {
        display: none;
    }

    .products-cards {
        flex-wrap: wrap;
    }

    .footer {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.contacts {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.contacts-container {
    display: flex;
}
